@using Pokerweb.Models
@model Room





<h3>@Model.Sum</h3>

<table class="table table-striped">
    @foreach (var player in Model.Players)
    {
        <tr>
            <td>@player.PlayerName</td>
            <td>@player.Money</td>
        </tr>
    }
</table>

<input type="range" min="1" max="100" value="50" class="slider" id="myRange">

<button class="btn btn-primary" id="Fold">Fold</button>
<button class="btn btn-primary" id="Check">Check</button>
<button class="btn btn-primary" id="Raise">Raise</button>

<button class="btn btn-primary" id="Start">Start</button>

