@using Pokerweb.Models
@model Room

<h3>@Model.Sum</h3>

<table class="table table-striped">
    @foreach (var player in Model.Players)
    {
        <tr>
            <td>@player.PlayerName</td>
            <td>@player.Money</td>
            <td>@player.Adress</td>
        </tr>
    }
</table>
