@page
@model Pokerweb.Pages.GamePageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{Layout = "_Layout.cshtml";}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


<h1>GamePage</h1>

<h2>Klíč: @Model.Key Jméno: @Model.Name</h2>

<h3>Msg: @Model.Message </h3>

<ul id="messagesList"></ul>

<button class="btn btn-primary" id="load">Load</button>

<div id="grid"></div>



<script>
    $(function () {
        $('#load').on('click', function () {
            $('#grid').load('/GamePage?handler=PlayersPartial');
        });
    });
</script>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>