@page "/{key?}/{name?}"
@model Pokerweb.Pages.GamePageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{Layout = "_Layout.cshtml";}

<script type="text/javascript" src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" src="~/js/Chat.js"></script>

<h1>GamePage</h1>

<h2>Klíč: @Model.Key Jméno: @Model.Name</h2>

<h3>Msg: @Model.Message </h3>

<ul id="messagesList"></ul>

<button class="btn btn-primary" id="load">Load</button>

<div id="grid"></div>



<script>
    $(function () {
        $('#load').on('click', function () {
            $('#grid').load('/GamePage?handler=PlayersPartial');
        });
    });
</script>
