@page
@model Pokerweb.Pages.GamePageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{Layout = "_Layout.cshtml";}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


<h1>GamePage</h1>

<h2 id="key">@Model.Key</h2>
<h2 id="name">@Model.Name</h2>

<h3>Msg: @Model.Message </h3>

<ul id="messagesList"></ul>


<div id="grid"></div>


<button class="Playbuttons" id="Fold">Fold</button>
<button class="Playbuttons" id="Check">Check</button>
<button class="Playbuttons" id="Raise">Raise</button>

<input type="range" min="1" max="100" value="50" class="Playbuttons" id="Range">
<p class="Playbuttons" >Value: <span id="demo"></span></p>

<button id="PlayButton" style=" display: none; ">Play</button>



<script type="text/javascript">
    var slider = document.getElementById("Range");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function () {
        output.innerHTML = this.value;
    }
</script>

<style>
    .Playbuttons {
        display: none;
    }
</style>